.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    padding-top: 10px;
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    padding-top: 10px;
    left: -33%;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none!important;
        transform: none!important;
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    width: 30px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: -50px;
    color: #ccc;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    margin-left: -50px;
    color: #ccc;
}

.multi-item-carousel .carousel-inner > .item {
    min-height: 770px;
}

.carousel-inner {
    margin-bottom: 20px;
    padding-top: 10px;
}

.carousel {
    border: 1px solid;
    margin-bottom: 10px;
    border-top: none;
}

body {
    background: #fff;
    color: #ddd;
}

h1 {
    color: white;
    font-size: 2.25em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    text-shadow: 0px 2px 0px #000000;
}

.img-full {
    width: 100%;
}

.item-container {
    padding: 0 10px;
    text-align: center;
}

.item-container .item-header {
    min-height: 270px;
}

.item-container .item-header .title {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    /*color: #fff;*/
    font-weight: 600;
    padding-top: 10px;
}

.item-container .item-header .sub {
    display: block;
    text-transform: uppercase;
    /* color: #fff;*/
    font-weight: 600;
    padding-bottom: 20px;
}

.item-container .item-header .img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.item-container .item-body {
    padding-top: 20px;
    height: 180px;
    position: relative;
    display: block;
    /*border: 1px solid #ccc;*/
    border-bottom: none;
}

.item-container .item-footer {
    padding: 20px 0;
    position: relative;
    display: block;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

.item-container .item-footer li {
    text-align: left;
}

.img-padding {
    padding: 5px 0;
    display: block;
    margin: 0 auto;
}

.btn-add {
    margin-top: 10px;
    padding: 4px;
    background-color: #f47721;
    position: absolute;
    bottom: 0px;
    border-radius: 0;
    border: none;
}

.btn-add-big {
    /* margin-top: 10px; */
    padding: 7px 16px;
    border-radius: 0;
    border: none;
    /* margin-bottom: 20px; */
    margin: 10px auto 20px;
    display: block;
}

.btn-add-big .btn-text,
.btn-add .btn-text {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 10px;
    vertical-align: text-bottom;
}

.desc {
    padding: 20px;
    color: #7d7d7d;
    background: #f1f1f1;
    margin-bottom: 30px;
}


/*



*/

.color1-back {
    border: 2px solid #5886A8;
    /*background: #d1e3f1;*/
    color: #5886A8;
}

.color2-back {
    border: 2px solid #58A787;
    /* background: #cdf1e2;*/
    color: #58A787;
}

.color3-back {
    border: 2px solid #A85859;
    /* background: #f1dbdc;*/
    color: #A85859;
}

.color3-back:hover,
.color2-back:hover,
.color1-back:hover {
    border-width: 8px;
    transition: 100ms ease-in-out all;
}

.color1 {
    background: #5886A8;
    background-color: #5886A8;
    color: #fff;
}

.color2 {
    background: #58A787;
    background-color: #58a787;
    color: #fff;
}

.color3 {
    background: #A85859;
    background-color: #A85859;
    color: #fff;
}


/*

*/

.destaque .conteudo {
    border: 1px solid #58A787;
    border-left: none;
}

.destaque {
    width: 100%;
    margin: 40px auto 30px;
    display: flex;
}

.destaque .imagem {
    border: 1px solid #58A787;
    /* background: #5886A8;*/
    position: relative;
    display: list-item;
    border-right: 1px solid #eee;
}

.destaque .imagem img {
    width: 100%;
    display: block;
    padding: 15px;
}

.destaque .conteudo .brinde {
    width: 70%;
}

.destaque .titulo {
    text-align: center;
    color: #58A787;
    display: block;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.destaque .sub {
    text-align: center;
    color: #58A787;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
